*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    
}
/* Header section */
body{
     background-color: white;
}

.container{
    padding: 10px 10%;
    border-color: black;
    border-radius: 1px solid black;
 
 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;   
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 4px;
    background-color: rgb(130, 230, 9);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 1sec;
}
nav ul li a:hover::after{
    width: 100%;
}
#first{
    display: flex;
}
.image{
    margin-top: 100px;
    margin-left: 50px;
    width: 500px;
    height: 500px;
    border-radius: 60%;
}
.header-text{
    
    margin-top: 15%;
    font-size: 30px;
    margin-left: 0%;
    padding-left:50px ;
    width: 600px;   
}
.header-text-name{
    color: orange;
}
#virtual-add{
    display: flex;
    
    margin-top: 40px;
    margin-left: 0px;
   
}
#virtual-add button{
    background-color: rgb(49, 124, 229);
    border: none;
    border-radius: 5px;
}
#linkedbut{
    margin-left: 20px;
}
#gitbut{
    margin-left: 20px;
}
#linkedinglogo{
    width: 25px;
    height: 25px;
    background-color: white;
}
#gitlogo{
    width: 25px;
    height: 25px;
    background-color: white;
}
#resume{
    text-decoration: none;
    background-color: rgb(49, 124, 229);
    color: white;
    padding: 0px 3px 0px 3px;
    font-size: larger;
    
}

@media only screen and (max-width: 600px){
    .image{
        background-image:url(images/g.jpg) ;
        width: 170px;
        height: 170px;
        margin-left: 0px;
        margin-top: 20px;
    }
   nav img{
    margin-left: 100px;
    width: 100px;
   }
   nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    position: relative;
   }
   .header-text{
    margin-top: 10%;
    font-size: 15px;
    margin-left: -17%;
    padding-left:50px ;
    width: 300px;   
}
}

/* <!-- About Section --> */
#about{
    margin-top: 100px;
   
    background-color: white;
}
#about-row2{
    margin: 10px 40px 10px 40px;
   
}
#about-row2 p{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    color: #b54769;
    font-size: 19px;
    font-weight: 250;
    font-family: 'Ubuntu', sans-serif;

}
#about-row2 h2{
   padding-left: 600px;
   
}
#about-row1 {
    margin: 10px 40px 10px -20px;
    padding-left:42% ;
    text-decoration:underline;
    color: blue;
   
}
#about-row1 h1{
    font-family: 'Ubuntu', sans-serif;
    font-size:35px;
    margin-left: 19px;
}
.about-row3{
    display: flex;
    
    flex-wrap: wrap;
    
    margin: 50px 300px 10px 530px;
}
.about-row3-col{
    color: blue;
    margin-right: 140px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
.about-row3-col::after{
    content: ''; 
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.about-row3-col.active-col::after{
    width: 50%;
}
.row3-content ul li{
    list-style: none;
    margin: 20px 0px 10px 530px;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
}
.row3-content ul li span{
    color: #b54769;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
.row3-content{
    display: none;
}
.row3-content.active{
    display: block;
}
@media only screen and (max-width: 600px){
    #about-row1 h1{
        margin: -50px 40px 10px -80px;
        padding-left:22% ;
        text-decoration:underline;
        color: blue;
        font-size: 25px;
        font-weight: 100;
    }
    #about-row2 p{
        margin: 10px 0px 0px 0px;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 4px;
        color: #b54769;
        font-size: 13px;
        font-weight: 100;
        font-family: 'Ubuntu', sans-serif;
    
    }
    #about-row2 h2{
       padding-left: 63px;
       font-size: 15px;
       
    }
    .about-row3{
        display: flex;
        flex-wrap: wrap;
        margin: 10px 300px 10px 80px;
        
        width: 250px;
    }
    .about-row3 h1{
        font-size: 16px;
    }
    .about-row3-col{
        color: blue;
        margin-right: 30px;
        font-size: 10px;
        font-weight: 100;
        cursor: pointer;
        position: relative;
        font-family: 'Ubuntu', sans-serif;
    }
    .about-row3-col::after{
        content: ''; 
        width: 0;
        height: 3px;
        background: #ff004f;
        position: absolute;
        left: 0;
        bottom: -8px;
        transition: 0.5s;
    }
    .about-row3-col.active-col::after{
        width: 50%;
    }
    .row3-content ul li{
        list-style: none;
        margin: 20px 0px 10px 80px;
        font-size: 13px;
        font-family: 'Ubuntu', sans-serif;
    }
    .row3-content ul li span{
        color: #b54769;
        font-size: 13px;
        font-family: 'Ubuntu', sans-serif;
    }
}
  /*----skills-section----  */

  #skills-section h1{
    margin-left: 650px;
    margin-top: 100px;
    margin-bottom: 70px;
    color: blue;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: underline;
    font-size: 35px;
  }
  #skills-logo{
   
    width: 60%;
    height: 200px;
    display: flex;
    margin-left: 230px;
  }
  #skills-logonext{
    width: 60%;
    height: 200px;
    display: flex;
    margin-left: 360px;
  }
  .skills-logo1 img{
    width: 150px;
    height: 150px;
    margin-right: 100px;
  }
  .skills-logo2 img{
    width: 150px;
    height: 150px;
    margin-right: 100px;
  }
  .skills-logo3 img{
    width: 150px;
    height: 150px;
    margin-right: 100px;
  }

  .skills-logo4 img{
    width: 150px;
    height: 150px;
    margin-right: 100px;
  }
  .skills-logo5 img{
    width: 150px;
    height: 150px;
    margin-right: 100px;
  }
  .skills-logo6 img{
    width: 150px;
    height: 150px;
    margin-right: 100px;
  }
  .skills-logo7 img{
    width: 150px;
    height: 150px;
    margin-right: 100px;
  }

  @media only screen and (max-width: 600px){
    #skills-section h1{
        margin-left: 160px;
        margin-top: 20px;
        margin-bottom: 40px;
        color: blue;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: underline;
        font-size: 20px;
      }
      #skills-logo{
   
        width: 20%;
        height: 100px;
        display: flex;
        margin-left: 40px;
      }
      #skills-logonext{
        width: 20%;
        height: 100px;
        display: flex;
        margin-left: 80px;
      }
      .skills-logo1 img{
    width: 50px;
    height: 50px;
    margin-right: 30px;
  }
  .skills-logo2 img{
    width: 50px;
    height: 50px;
    margin-right: 30px;
  }
  .skills-logo3 img{
    width: 50px;
    height: 50px;
    margin-right: 30px;
  }

  .skills-logo4 img{
    width: 50px;
    height: 50px;
    margin-right: 30px;
  }
  .skills-logo5 img{
    width: 50px;
    height: 50px;
    margin-right: 30px;
  }
  .skills-logo6 img{
    width: 50px;
    height: 50px;
    margin-right: 30px;
  }
  .skills-logo7 img{
    width: 50px;
    height: 50px;
    margin-right: 30px;
  }
  }

 



    