
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* navbar */

.navbar{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0,0,0,0.5);
   position: sticky;
   top: 0;
}
.navbar ul{
   display: flex;
   list-style: none;
   margin: 20px 0px;
}
.navbar ul li{
   font-family: century;
   font-size: 1.1rem;
   font-weight: bold;
}
.navbar ul li a{
   text-decoration: none;
   color: white;
   padding: 8px 25px;
   transition: all .5s ease;
}
.navbar ul li a:hover{
   background-color: white;
   color: black;
   box-shadow: 0 0 10px white;
}
#home{
   display: flex;
   flex-direction: column;
   background-color: rgba(0,0,0,0.5);
   height: 840px;
   justify-content: center;
   align-items: center;
   color: white;
}
#home::before{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   background:url(images/real.jpg) no-repeat center center/cover;
   height: 900px;
   width: 100%;
   z-index: -1;
   opacity: .8;
}
.main{
   display: flex;
   flex-direction: column;
   /* border: 1px solid white; */
   align-items: center;
   position: absolute;
   top: 30%;
   right: 10%;
}
.headings{
   font-family: century;
   font-size: 3rem;
   text-align: center;
   margin: 40px  0px 20px 0px;
}
.main p{
   font-family: century;
   font-size: 1.6rem;
   text-align: center;
   margin: 0px 0px 20px 0px;
}
.btn{
   padding: 10px 35px;
   background-color: transparent;
   border: 1px solid white;
   color: white;
   outline: none;
   transition: .6s ease;
}
.btn a{
   text-decoration: none;
   color: white;
}
.btn:hover{
   cursor: pointer;
   background-color: white;
   color: black;
   box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
   font-weight: bold;
}

/* about section */

#about{
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   padding: 20px;
  margin-bottom: 50px; 
}
#pic{
   display: flex;
}
#pic img{
   width: 575px;
   height: 400px;
}
#intro{
   display: flex;
   flex-direction: column;
   text-align: justify;
   padding: 10px;
   /**/
}
#intro h2{
   font-size: 2rem;
   margin-bottom: 20px;
   padding-left: 100px;
   color: blueviolet;
}
#intro p{
   font-size: 1.3rem;
   padding: 10px 100px 10px 100px;
   color: grey;
}
#intro ul{
   padding: 0px 100px 0px 100px;
   color: grey;
}

/* skills */

#skills{
   display: flex;
   flex-direction: column;
   background-color: rgba(0,0,0,0.7);
   color: white;
}
.gallery{
   display:flex;
   flex-wrap:wrap;
   justify-content: space-around;
   box-sizing: border-box;
}
.gallery img{
   width: 300px;
   height: 240px;
   margin: 10px;
}
#nam{
   padding-left: 20px;
}
#techskills{
   display: flex;
   flex-direction: column;
   background-color: rgba(0,0,0,0.7);
   color: white;
}

/*-----project------ */
#project{
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   padding: 20px;
  margin-bottom: 80px; 
}
#project-intro{
   display: flex;
   flex-direction:column;
   text-align: justify;
   padding: 10px;
   
}
#project-intro h2{
   font-size: 1.5rem;
   margin-bottom: 5px;
   padding-left: 300px;
   color: blueviolet;
}
#project-intro p{
   font-size: 1rem;
   padding: 4px 150px 5px 150px;
   color: grey;
}
#p1-git{
   width: 40px;
   height: 40px;
   margin:4px 150px 10px 170px; ;
}
#p1-git img{
   width: 30px;
   height: 20px;
}
#p1-live{
   width: 40px;
   height: 40px;
}
#p1-live img{
   width: 30px;
   height: 20px;
}
#link{
   display: flex;
}

/* ---contact------- */

#contact{
   display: flex;
   flex-direction: column;
   background-color: rgba(0,0,0,white);
   color: grey;
}
.cont-gallery{
   display:flex;
   flex-wrap:wrap;
   justify-content: space-around;
   box-sizing: border-box;
}
.cont-gallery img{
   width: 80px;
   height:80px;
   margin: 10px;
}
#cont-nam{
   padding-left: -20px;
   padding-bottom: 20px;
}
/* -----footer---- */
#footer{
   display: flex;
   justify-content: center;
   height: 50px;
   align-items: center;
   background-color: rgba(0,0,0,0.5);
   margin-top: 20px;
   bottom: 0;
}

/* ------------------------------------ */
/* @media(max-width: 1282px){
   html{
      font-size: 62%;
   }

}
@media(max-width: 998px){
html{
   font-size: 45%;
}
}
@media(max-width: 678px){
   html{
      font-size: 30%;
   }
}
@media(max-width: 450px){
   html{
      font-size: 20%;
   }
}
@media(max-width: 200px){
   html{
      font-size: 15%;
   } } */
   /* ----------------------------------------- */
   @media(max-width: 1282px){
       #pic img{
           width: 575px;
           height: 400px;
       }
       #project-intro{
           display: flex;
           flex-direction:column;
           text-align: justify;
           padding: 0px;
           
       }
       #project-intro h2{
           font-size: 1.5rem;
           margin-bottom: 5px;
           padding-left: 170px;
           color: blueviolet;
       }
       #project-intro p{
           font-size: 1rem;
           padding: 4px 80px 5px 80px;
           color: grey;
       }
       #p1-git{
           width: 40px;
           height: 40px;
           margin:4px 80px 10px 80px; ;
       }
       #p1-git img{
           width: 30px;
           height: 20px;
       }
       #p1-live{
           width: 40px;
           height: 40px;
       }
       #p1-live img{
           width: 30px;
           height: 20px;
       }
       #link{
           display: flex;
       }
   }
   @media(max-width: 1185px){
       #about{
           display: flex;
           flex-direction: column;
           box-sizing: border-box;
           padding: 10px;
          margin-bottom: 20px; 
       }

       #intro h2{
           font-size: 1.1rem;
           margin-bottom: 5px;
           padding-left: 20px;
           color: blueviolet;
       }
       #intro p{
           font-size: 1.1rem;
           padding: 5px 20px 5px 20px;
           color: grey;
       }
       #intro ul{
           padding: 0px 20px 0px 20px;
           color: grey;
           font-size: 1.1rem;
       }
       #pic img{
           width: 300px;
   
       }
       #p1-git{
           width: 25px;
           height: 20px;
           margin:2px 30px 4px 100px; ;
       }
       #p1-git img{
           width: 20px;
           height: 15px;
       }
       #p1-live{
           width: 25px;
           height: 20px;
       }
       #p1-live img{
           width: 20px;
           height: 15px;
       }
   }
  
      
   
   @media(max-width:817px){
       #pic img{
           width: 200px;
      }
      #project-intro h2{
       font-size: 1.2rem;
       margin-bottom: 0px;
       padding-left: 100px;
       color: blueviolet;
   }
   #project-intro p{
       font-size: 0.9rem;
       padding: 2px 40px 2px 20px;
       color: grey;
   }
   #p1-git{
       width: 25px;
       height: 25px;
       margin:1px 40px 2px 80px; ;
   }
   #p1-git img{
       width: 15px;
       height: 15px;
   }
   #p1-live{
       width: 25px;
       height: 25px;
   }
   #p1-live img{
       width: 15px;
       height: 15px;
   }
   #intro h2{
       font-size: 1rem;
       margin-bottom: 0px;
       padding-left:40px;
       color: blueviolet;
   }
   #intro p{
       font-size: 0.9rem;
       padding: 2px 10px 0px 10px;
       color: grey;
   }
   #intro ul{
       padding: 0px 10px 0px 10px;
       color: grey;
       font-size: 0.9rem;
   }
   .navbar ul{
       display: flex;
       list-style: none;
       margin: 10px 0px;
   }
   .navbar ul li{
       font-family: century;
       font-size: 0.8rem;
       font-weight: bold;
   }
   }

   @media(max-width:520px){
       .navbar ul{
           display: flex;
           list-style: none;
           margin: 5px 0px;
       }
       .navbar ul li{
           font-family: century;
           font-size: 0.5rem;
           font-weight: bold;
       }
       #pic {
           width: 150px;
           
       }
      
      #intro{
       display: block;
       flex-direction: column;
       text-align: justify;
       padding: 3px;
       /**/
   }
   #intro h2{
       
       width: 200px;
   }
   #project-intro{
       display: flex;
       flex-direction:column;
       text-align: justify;
       padding: 60px;
       
   }
   #project-intro h2{
       font-size: .8rem;
       margin-bottom: 5px;
       padding-left: 10px;
       color: blueviolet;
   }
   #project-intro p{
       font-size: .6rem;
       padding: 0px 12px 0px 12px;
       color: grey;
   }
   #intro h2{
       font-size: .8rem;
       margin-bottom: 0px;
       padding-left:100px;
       color: blueviolet;
       padding-right: -50px;
   }
   #intro p{
       font-size: 0.8rem;
       padding: 0px 6px 0px 30px;
       color: grey;
       margin-right: -100px;
   }
   #intro ul{
       padding: 0px 0px 0px 30px;
       color: grey;
       font-size: 0.8rem;
   }
   #nam{
       font-size: .6rem;
       width: 100px;
       height: 100px;
   }

   }
   @media(max-width:508px){
       #project-intro{
           display: flex;
           flex-direction:column;
           text-align: justify;
           padding: 40px;
           
       }
       #project-intro h2{
           font-size: .8rem;
           margin-bottom: 0px;
           padding-left: 0px;
           color: blueviolet;
       }
       #project-intro p{
           font-size: .8rem;
           padding: 0px 0px 0px 0px;
           color: grey;
       }
   }

   @media(max-width:376px){
       /* #pic img{
           width: 0px;
           height: 0px;

       } */
       #nam{
           font-size: .6rem;
           width: 200px;
           height: 100px;
           padding-top: 40px;
           margin-top: -5px;
           margin-left: 50px;
       }
       #ok img{
           margin-top: -20px;
           margin-bottom: -30px;
           margin-left: 60px;
       }
       #project-intro{
           display: flex;
           flex-direction:column;
           text-align: justify;
           padding: 60px;
           
       }
       #pic img{
           width: 170px;
           margin-right: 4px;
           
       }
       #project-intro h2{
           font-size: 1rem;
           margin-bottom: 5px;
           margin-top: 5px;
           color: blueviolet;
       }
       #project-intro p{
           font-size: 0.9rem;
           padding: 0px 0px 0px -20px;
           color: grey;
       }
       #p1-git{
           width: 25px;
           height: 25px;
           margin:1px 30px 2px 60px; ;
       }
       #p1-git img{
           width: 15px;
           height: 15px;
       }
       #p1-live{
           width: 25px;
           height: 25px;
       }
       #p1-live img{
           width: 15px;
           height: 15px;
       }
       #my{
           width: 200px;
           height: 200px;
       }
   }
   @media(max-width:395px){
       #intro{
           width: 150px;
       }
       #intro h2{
           font-size: .6rem;
           margin-bottom: 0px;
           padding-left:50px;
           color: blueviolet;
           padding-right: -50px;
       }
       #intro p{
           font-size: 0.6rem;
           padding: 0px 16px 0px 0px;
           color: grey;
           margin-right: 0px;
       }
       #intro ul{
           padding: 0px 0px 0px 20px;
           color: grey;
           font-size: 0.6rem;
       }
       #project-intro{
           display: flex;
           flex-direction:column;
           text-align: justify;
           padding: 4px;
           
       }
       #project-intro h2{
           font-size: 1rem;
           margin-bottom: 0px;
           margin-top: 0px;
           color: blueviolet;
       }
       #project-intro p{
           font-size: 0.9rem;
           padding: 0px 0px 0px 0px;
           color: grey;
       }
   }